# Scraping Team Stats for Bundesliga Teams

## Import Libraries

In [1]:
import pandas as pd

## Scraping Stats

### Basic Stats

In [2]:
basic_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats', 
                  attrs = {"id":"results2024-2025201_overall"})[0]

In [3]:
basic_stats.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Bayern Munich,33,24,7,2,95,32,63,79,2.39,80.3,25.1,55.2,1.67,D W W D W,75000,Harry Kane - 25,Manuel Neuer,NaN
1,2,Leverkusen,33,19,11,3,70,41,29,68,2.06,55.6,33.2,22.5,0.68,D D W D L,29945,Patrik Schick - 19,Lukáš Hrádecký,NaN
2,3,Eint Frankfurt,33,16,9,8,65,45,20,57,1.73,63.1,47.3,15.8,0.48,W D W D D,57600,"Omar Marmoush, Hugo Ekitike - 15",Kevin Trapp,NaN
3,4,Freiburg,33,16,7,10,48,50,-2,55,1.67,43.5,40.5,3.1,0.09,W W W D W,34156,Ritsu Doan - 9,Noah Atubolu,NaN
4,5,Dortmund,33,16,6,11,68,51,17,54,1.64,58.7,42.0,16.7,0.51,D W W W W,81365,Serhou Guirassy - 20,Gregor Kobel,NaN

In [4]:
basic_stats.drop(columns=['Rk', 'W', 'D', 'L', 'Pts', 'Pts/MP', 'xGD/90', 'Last 5', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'], inplace=True)
basic_stats.rename(columns={'Squad': 'Team'}, inplace=True)

basic_stats.head()

             Team  MP  GF  GA  GD    xG   xGA   xGD
0   Bayern Munich  33  95  32  63  80.3  25.1  55.2
1      Leverkusen  33  70  41  29  55.6  33.2  22.5
2  Eint Frankfurt  33  65  45  20  63.1  47.3  15.8
3        Freiburg  33  48  50  -2  43.5  40.5   3.1
4        Dortmund  33  68  51  17  58.7  42.0  16.7

### Shooting Stats

In [5]:
shooting_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats',
                    attrs = {"id":"stats_squads_shooting_for"})[0]

shooting_stats.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard            \
               Squad               # Pl                90s      Gls   Sh  SoT
0           Augsburg                 29               33.0       34  378  110
1      Bayern Munich                 29               33.0       92  622  250
2             Bochum                 26               33.0       30  424  127
3           Dortmund                 28               33.0       66  460  152
4     Eint Frankfurt                 26               33.0       65  469  166

                                                     Expected                \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist  FK PK PKatt       xG  npxG npxG/Sh
0  29.1  11.45   3.33  0.09  0.30  17.5  10  1     2     33.0  31.4    0.08
1  40.2  18.85   7.58  0.13  0.33  16.6  18  9    10     80.3  72.5    0.12
2  30.0  12.85   3.85  0.07  0.23  17.7  11  1     3     40.5  38.0    0.09
3  33.0  13.94   4.61  0.13  0.41  16.0   9  4     5     58.7  54.9    0.12
4  35.4  14.21   5.03  0.13  0.37  16.4  13  3     5     63.1  59.4    0.13


   G-xG np:G-xG
0   1.0     1.6
1  11.7    10.5
2 -10.5    -9.0
3   7.3     7.1
4   1.9     2.6

In [6]:
new_column_names = [
    "Team", "Number of Players", "90s", "Goals", "Shots", "Shots on Target", "Shots on Target %",
    "Shots/90", "SoT/90", "Goals/Shot", "Goals/SoT", "Avg Shot Distance", "FK Goals",
    "PK Goals", "PK Att", "xG", "npxG", "npxG/Shot", "Goals - xG", "np:G - npxG", "Team"
]

shooting_stats.columns = new_column_names[:len(shooting_stats.columns)]

shooting_stats.drop(columns=['Number of Players', '90s', 'Goals', 'Shots', 'Shots on Target', 'Shots on Target %', "FK Goals",
    "PK Goals", "PK Att", "xG", "npxG", "npxG/Shot", "Goals - xG", "np:G - npxG"], inplace=True)

shooting_stats.head()

             Team  Shots/90  SoT/90  Goals/Shot  Goals/SoT  Avg Shot Distance
0        Augsburg     11.45    3.33        0.09       0.30               17.5
1   Bayern Munich     18.85    7.58        0.13       0.33               16.6
2          Bochum     12.85    3.85        0.07       0.23               17.7
3        Dortmund     13.94    4.61        0.13       0.41               16.0
4  Eint Frankfurt     14.21    5.03        0.13       0.37               16.4

### Passing Stats

In [7]:
passing_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats',
                    attrs = {"id":"stats_squads_passing_for"})[0]

passing_stats.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  Total         \
               Squad               # Pl                90s    Cmp    Att
0           Augsburg                 29               33.0  11026  14275
1      Bayern Munich                 29               33.0  22095  24989
2             Bochum                 26               33.0   9940  13791
3           Dortmund                 28               33.0  16395  19568
4     Eint Frankfurt                 26               33.0  13714  16821

                         Short         ...  Long Unnamed: 17_level_0  \
   Cmp% TotDist PrgDist    Cmp    Att  ...  Cmp%                 Ast
0  77.2  203617   79586   4653   5438  ...  52.8                  25
1  88.4  365957  114673  10958  11756  ...  66.6                  63
2  72.1  195852   83155   3756   4540  ...  50.3                  22
3  83.8  283775   95391   7464   8201  ...  56.5                  54
4  81.5  229626   84307   6548   7228  ...  50.1                  44

  Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                  xAG       xA A-xAG                  KP                 1/3
0                23.7     31.9   1.3                 281                 861
1                58.4     74.0   4.6                 500                2060
2                28.9     34.5  -6.9                 300                 843
3                46.3     48.0   7.7                 359                1272
4                43.4     43.1   0.6                 345                1019

  Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                  PPA               CrsPA                PrgP
0                 238                  74                1111
1                 450                  67                2086
2                 228                  75                1058
3                 314                  84                1490
4                 304                  55                1329

[5 rows x 26 columns]

In [8]:
new_column_names = [
    "Squad", "Players", "90s",
    "Passes Completed", "Passes Attempted", "Pass Completion %",
    "Total Passing Distance", "Progressive Passing Distance",
    "Short Passes Completed", "Short Passes Attempted", "Short Pass Completion %",
    "Medium Passes Completed", "Medium Passes Attempted", "Medium Pass Completion %",
    "Long Passes Completed", "Long Passes Attempted", "Long Pass Completion %",
    "Assists", "xAG", "xA", "A-xAG", "Key Passes",
    "Passes into Final Third", "Passes into Penalty Area",
    "Crosses into Penalty Area", "Progressive Passes"
]

passing_stats.columns = new_column_names[:len(passing_stats.columns)]

passing_stats.head()

,Squad,Players,90s,Passes Completed,Passes Attempted,Pass Completion %,Total Passing Distance,Progressive Passing Distance,Short Passes Completed,Short Passes Attempted,...,Long Pass Completion %,Assists,xAG,xA,A-xAG,Key Passes,Passes into Final Third,Passes into Penalty Area,Crosses into Penalty Area,Progressive Passes
0,Augsburg,29,33.0,11026,14275,77.2,203617,79586,4653,5438,...,52.8,25,23.7,31.9,1.3,281,861,238,74,1111
1,Bayern Munich,29,33.0,22095,24989,88.4,365957,114673,10958,11756,...,66.6,63,58.4,74.0,4.6,500,2060,450,67,2086
2,Bochum,26,33.0,9940,13791,72.1,195852,83155,3756,4540,...,50.3,22,28.9,34.5,-6.9,300,843,228,75,1058
3,Dortmund,28,33.0,16395,19568,83.8,283775,95391,7464,8201,...,56.5,54,46.3,48.0,7.7,359,1272,314,84,1490
4,Eint Frankfurt,26,33.0,13714,16821,81.5,229626,84307,6548,7228,...,50.1,44,43.4,43.1,0.6,345,1019,304,55,1329

In [9]:
passing_stats.rename(columns={'Squad': 'Team'}, inplace=True)

passing_stats.drop(columns=['Players', '90s', 'Passes Attempted', "Pass Completion %",
    "Total Passing Distance", "Progressive Passing Distance",
    "Short Passes Completed", "Short Passes Attempted", "Short Pass Completion %",
    "Medium Passes Completed", "Medium Passes Attempted", "Medium Pass Completion %",
    "Long Passes Completed", "Long Passes Attempted", "Long Pass Completion %",
    "Assists", "xAG", "xA", "A-xAG", ], inplace=True)

for col in passing_stats.columns[2:]:
    passing_stats[col + '/90'] = round(passing_stats[col]/90, 2)

passing_stats.drop(columns = ['Passes Completed', 'Key Passes', 'Passes into Final Third', "Passes into Penalty Area",
    "Crosses into Penalty Area", "Progressive Passes"], inplace=True)

passing_stats.head()

,Team,Key Passes/90,Passes into Final Third/90,Passes into Penalty Area/90,Crosses into Penalty Area/90,Progressive Passes/90
0,Augsburg,3.12,9.57,2.64,0.82,12.34
1,Bayern Munich,5.56,22.89,5.00,0.74,23.18
2,Bochum,3.33,9.37,2.53,0.83,11.76
3,Dortmund,3.99,14.13,3.49,0.93,16.56
4,Eint Frankfurt,3.83,11.32,3.38,0.61,14.77

### Possession Stats

In [10]:
possession_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats',
                    attrs = {"id":"stats_squads_possession_for"})[0]

possession_stats.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl               Poss                90s
0           Augsburg                 29               43.8               33.0
1      Bayern Munich                 29               67.9               33.0
2             Bochum                 26               45.6               33.0
3           Dortmund                 28               58.4               33.0
4     Eint Frankfurt                 26               50.0               33.0

  Touches                                          ... Carries          \
  Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ... Carries TotDist
0   18246    2177    5967    7956    4515     650  ...    9661   46434
1   28589    1598    5962   14454    8350    1178  ...   17395   86902
2   17772    2153    6047    7766    4121     669  ...    8759   41557
3   23341    2144    6878   11162    5498     871  ...   14007   69250
4   20860    2494    7119    9380    4544     851  ...   12074   58565

                                   Receiving
  PrgDist PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
0   22733  441  350   96  568  289     10932  1099
1   44024  802  654  254  477  252     21957  2073
2   18569  368  289   85  505  234      9829  1045
3   35180  664  488  204  487  304     16245  1482
4   29443  576  423  183  553  252     13594  1320

[5 rows x 26 columns]

In [11]:
new_column_names = [
    "Team", "Players", "Possession %", "90s",
    "Touches Total", "Touches Def Pen", "Touches Def 3rd",
    "Touches Mid 3rd", "Touches Att 3rd", "Touches Att Pen",
    "Touches Live Ball", "Take-Ons Attempted", "Successful Take-Ons",
    "Successful Take-On %", "Times Tackled During Take-On", "Tackled During Take-On %",
    "Carries", "Total Carry Distance", "Progressive Carry Distance", "Progressive Carries",
    "Carries into Final Third", "Carries into Penalty Area", "Miscontrols", "Dispossessed",
    "Passes Received", "Progressive Passes Received"
]

# Apply only as many names as there are columns
possession_stats.columns = new_column_names[:len(possession_stats.columns)]

# Preview
possession_stats.head()

,Team,Players,Possession %,90s,Touches Total,Touches Def Pen,Touches Def 3rd,Touches Mid 3rd,Touches Att 3rd,Touches Att Pen,...,Carries,Total Carry Distance,Progressive Carry Distance,Progressive Carries,Carries into Final Third,Carries into Penalty Area,Miscontrols,Dispossessed,Passes Received,Progressive Passes Received
0,Augsburg,29,43.8,33.0,18246,2177,5967,7956,4515,650,...,9661,46434,22733,441,350,96,568,289,10932,1099
1,Bayern Munich,29,67.9,33.0,28589,1598,5962,14454,8350,1178,...,17395,86902,44024,802,654,254,477,252,21957,2073
2,Bochum,26,45.6,33.0,17772,2153,6047,7766,4121,669,...,8759,41557,18569,368,289,85,505,234,9829,1045
3,Dortmund,28,58.4,33.0,23341,2144,6878,11162,5498,871,...,14007,69250,35180,664,488,204,487,304,16245,1482
4,Eint Frankfurt,26,50.0,33.0,20860,2494,7119,9380,4544,851,...,12074,58565,29443,576,423,183,553,252,13594,1320

In [12]:
possession_stats = possession_stats[['Team', 'Possession %']]

possession_stats.head()

             Team  Possession %
0        Augsburg          43.8
1   Bayern Munich          67.9
2          Bochum          45.6
3        Dortmund          58.4
4  Eint Frankfurt          50.0

### Defending Stats

In [13]:
defending_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats',
                    attrs = {"id":"stats_squads_defense_for"})[0]

defending_stats.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles       \
               Squad               # Pl                90s     Tkl TklW
0           Augsburg                 29               33.0     451  290
1      Bayern Munich                 29               33.0     491  293
2             Bochum                 26               33.0     579  348
3           Dortmund                 28               33.0     509  313
4     Eint Frankfurt                 26               33.0     545  331

                          Challenges                 Blocks            \
  Def 3rd Mid 3rd Att 3rd        Tkl  Att  Tkl% Lost Blocks   Sh Pass
0     192     197      62        227  421  53.9  194    404  121  283
1     160     229     102        239  430  55.6  191    314   51  263
2     309     197      73        299  562  53.2  263    467  139  328
3     232     191      86        252  480  52.5  228    369   99  270
4     253     212      80        272  495  54.9  223    422  127  295

  Unnamed: 15_level_0 Unnamed: 16_level_0 Unnamed: 17_level_0  \
                  Int             Tkl+Int                 Clr
0                 334                 785                 953
1                 228                 719                 501
2                 289                 868                 878
3                 242                 751                 708
4                 279                 824                 936

  Unnamed: 18_level_0
                  Err
0                  16
1                  23
2                  22
3                  18
4                  26

In [14]:
aerial_stats = pd.read_html('https://fbref.com/en/comps/20/Bundesliga-Stats',
                            attrs={"id":"stats_squads_misc_for"})[0]

aerial_stats.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Performance       \
               Squad               # Pl                90s        CrdY CrdR
0           Augsburg                 29               33.0          78    5
1      Bayern Munich                 29               33.0          48    1
2             Bochum                 26               33.0          71    2
3           Dortmund                 28               33.0          68    6
4     Eint Frankfurt                 26               33.0          51    1

                                                          Aerial Duels       \
  2CrdY  Fls  Fld Off  Crs  Int TklW PKwon PKcon OG Recov          Won Lost
0     2  345  368  57  560  334  290     2     5  2  1392          509  479
1     0  288  332  56  596  228  293     6     2  0  1619          409  326
2     1  454  290  59  671  289  348     3     6  0  1406          732  653
3     3  318  337  42  673  242  313     4     4  1  1436          466  405
4     1  325  292  56  525  279  331     2     3  2  1460          450  410


   Won%
0  51.5
1  55.6
2  52.9
3  53.5
4  52.3

In [15]:
# Custom column names based on the table structure
new_column_names = [
    "Team", "Players", "90s",
    "Tackles", "Tackles Won", "Tackles Def 3rd", "Tackles Mid 3rd", "Tackles Att 3rd",
    "Challenges Tackles", "Challenges Attempted", "Challenge Win %", "Challenges Lost",
    "Blocks", "Blocked Shots", "Blocked Passes",
    "Interceptions", "Tackles + Interceptions",
    "Clearances", "Errors"
]

# Apply the new column names (make sure `defending_stats` is your DataFrame)
defending_stats.columns = new_column_names[:len(defending_stats.columns)]

# Preview result
defending_stats.head()

,Team,Players,90s,Tackles,Tackles Won,Tackles Def 3rd,Tackles Mid 3rd,Tackles Att 3rd,Challenges Tackles,Challenges Attempted,Challenge Win %,Challenges Lost,Blocks,Blocked Shots,Blocked Passes,Interceptions,Tackles + Interceptions,Clearances,Errors
0,Augsburg,29,33.0,451,290,192,197,62,227,421,53.9,194,404,121,283,334,785,953,16
1,Bayern Munich,29,33.0,491,293,160,229,102,239,430,55.6,191,314,51,263,228,719,501,23
2,Bochum,26,33.0,579,348,309,197,73,299,562,53.2,263,467,139,328,289,868,878,22
3,Dortmund,28,33.0,509,313,232,191,86,252,480,52.5,228,369,99,270,242,751,708,18
4,Eint Frankfurt,26,33.0,545,331,253,212,80,272,495,54.9,223,422,127,295,279,824,936,26

In [16]:
new_column_names = [
    "Team", "Players", "90s",
    "Yellow Cards", "Red Cards", "Second Yellows",
    "Fouls Committed", "Fouls Drawn", "Offsides",
    "Crosses", "Interceptions", "Tackles Won",
    "PKs Won", "PKs Conceded", "Own Goals", "Recoveries",
    "Aerial Duels Won", "Aerial Duels Lost", "Aerial Duel Win %"
]

# Apply to your DataFrame (make sure `aerial_stats` is defined)
aerial_stats.columns = new_column_names[:len(aerial_stats.columns)]

# Preview result
aerial_stats.head()

,Team,Players,90s,Yellow Cards,Red Cards,Second Yellows,Fouls Committed,Fouls Drawn,Offsides,Crosses,Interceptions,Tackles Won,PKs Won,PKs Conceded,Own Goals,Recoveries,Aerial Duels Won,Aerial Duels Lost,Aerial Duel Win %
0,Augsburg,29,33.0,78,5,2,345,368,57,560,334,290,2,5,2,1392,509,479,51.5
1,Bayern Munich,29,33.0,48,1,0,288,332,56,596,228,293,6,2,0,1619,409,326,55.6
2,Bochum,26,33.0,71,2,1,454,290,59,671,289,348,3,6,0,1406,732,653,52.9
3,Dortmund,28,33.0,68,6,3,318,337,42,673,242,313,4,4,1,1436,466,405,53.5
4,Eint Frankfurt,26,33.0,51,1,1,325,292,56,525,279,331,2,3,2,1460,450,410,52.3

In [17]:
defending_stats = defending_stats[['Team', 'Tackles', 'Tackles Won', 'Challenges Attempted']]

defending_stats.head()

             Team  Tackles  Tackles Won  Challenges Attempted
0        Augsburg      451          290                   421
1   Bayern Munich      491          293                   430
2          Bochum      579          348                   562
3        Dortmund      509          313                   480
4  Eint Frankfurt      545          331                   495

In [18]:
aerial_stats = aerial_stats[['Team', 'Aerial Duel Win %']]

aerial_stats.head()

             Team  Aerial Duel Win %
0        Augsburg               51.5
1   Bayern Munich               55.6
2          Bochum               52.9
3        Dortmund               53.5
4  Eint Frankfurt               52.3

In [19]:
# Merge the two DataFrames on 'Team'
defending_stats = pd.merge(
    defending_stats,
    aerial_stats,
    on="Team",
    how="inner"  # use "outer" if you want to preserve all teams even if missing in one
)

# Preview the result
defending_stats.head()

,Team,Tackles,Tackles Won,Challenges Attempted,Aerial Duel Win %
0,Augsburg,451,290,421,51.5
1,Bayern Munich,491,293,430,55.6
2,Bochum,579,348,562,52.9
3,Dortmund,509,313,480,53.5
4,Eint Frankfurt,545,331,495,52.3

## Final Review

In [20]:
display(basic_stats.head())
display(shooting_stats.head())
display(passing_stats.head())
display(possession_stats.head())
display(defending_stats.head())

             Team  MP  GF  GA  GD    xG   xGA   xGD
0   Bayern Munich  33  95  32  63  80.3  25.1  55.2
1      Leverkusen  33  70  41  29  55.6  33.2  22.5
2  Eint Frankfurt  33  65  45  20  63.1  47.3  15.8
3        Freiburg  33  48  50  -2  43.5  40.5   3.1
4        Dortmund  33  68  51  17  58.7  42.0  16.7

             Team  Shots/90  SoT/90  Goals/Shot  Goals/SoT  Avg Shot Distance
0        Augsburg     11.45    3.33        0.09       0.30               17.5
1   Bayern Munich     18.85    7.58        0.13       0.33               16.6
2          Bochum     12.85    3.85        0.07       0.23               17.7
3        Dortmund     13.94    4.61        0.13       0.41               16.0
4  Eint Frankfurt     14.21    5.03        0.13       0.37               16.4

,Team,Key Passes/90,Passes into Final Third/90,Passes into Penalty Area/90,Crosses into Penalty Area/90,Progressive Passes/90
0,Augsburg,3.12,9.57,2.64,0.82,12.34
1,Bayern Munich,5.56,22.89,5.00,0.74,23.18
2,Bochum,3.33,9.37,2.53,0.83,11.76
3,Dortmund,3.99,14.13,3.49,0.93,16.56
4,Eint Frankfurt,3.83,11.32,3.38,0.61,14.77

             Team  Possession %
0        Augsburg          43.8
1   Bayern Munich          67.9
2          Bochum          45.6
3        Dortmund          58.4
4  Eint Frankfurt          50.0

,Team,Tackles,Tackles Won,Challenges Attempted,Aerial Duel Win %
0,Augsburg,451,290,421,51.5
1,Bayern Munich,491,293,430,55.6
2,Bochum,579,348,562,52.9
3,Dortmund,509,313,480,53.5
4,Eint Frankfurt,545,331,495,52.3

### Merging All into a single DataFrame

In [21]:
from functools import reduce

# Put all your stats DataFrames into a list
dfs = [basic_stats, shooting_stats, passing_stats, possession_stats, defending_stats]

# Merge them one by one using "Team"
merged_stats = reduce(lambda left, right: pd.merge(left, right, on="Team", how="inner"), dfs)

# Display the result
merged_stats.head()

,Team,MP,GF,GA,GD,xG,xGA,xGD,Shots/90,SoT/90,...,Key Passes/90,Passes into Final Third/90,Passes into Penalty Area/90,Crosses into Penalty Area/90,Progressive Passes/90,Possession %,Tackles,Tackles Won,Challenges Attempted,Aerial Duel Win %
0,Bayern Munich,33,95,32,63,80.3,25.1,55.2,18.85,7.58,...,5.56,22.89,5.00,0.74,23.18,67.9,491,293,430,55.6
1,Leverkusen,33,70,41,29,55.6,33.2,22.5,14.94,5.39,...,4.24,17.67,3.52,0.91,18.64,59.4,387,253,348,52.5
2,Eint Frankfurt,33,65,45,20,63.1,47.3,15.8,14.21,5.03,...,3.83,11.32,3.38,0.61,14.77,50.0,545,331,495,52.3
3,Freiburg,33,48,50,-2,43.5,40.5,3.1,12.03,3.97,...,3.09,10.50,2.73,0.79,12.26,48.4,494,307,448,49.1
4,Dortmund,33,68,51,17,58.7,42.0,16.7,13.94,4.61,...,3.99,14.13,3.49,0.93,16.56,58.4,509,313,480,53.5

### Saving as CSV

In [ ]:
merged_stats.to_csv("../../../data/teams/raw/team_stats/bundesliga_team_stats.csv", index=False)
print("✅ Saved to '../../../data/teams/raw/team_stats/bundesliga_team_stats.csv'")

✅ Saved to '../../data/teams/raw/team_stats/bundesliga_team_stats.csv'